$jet-color: #333333;
$faded-black: #0000008a;
$faded-black-box-shadow: #0000004d;
$eminence-color: #643173;
$royal-purpure-color: #7d5ba6;
$morning-blue-color: #86a59c;
$eton-blue: #89ce94;
$white-color: #ffffff;
$black-color: #000000;
$error-color: #df1a1a;

// opacity
$opacity-overlay: .4;
$opacity-hover: .8;